<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Claims</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="app-style.css">
</head>
<body>
<div class="lang">
    <a href="/" th:text="#{header.home}"></a>
</div>
<div class="header-container">
    <h2 th:text="#{claims}">Claims</h2>
</div>
<div class="lang">
    <th:block th:insert="fragments/language :: language"/>
</div>
<form class="header-container" th:action="@{/claims-filter}" method="post" th:object="${filterObj}">
    <ul>
        <li>
            <input th:field="*{accepted}" id="accept" type="checkbox"/>
            <label for="accept">ACCEPTED</label>
        </li>
        <li>
            <input th:field="*{rejected}" id="reject" type="checkbox"/>
            <label for="reject">REJECTED</label>
        </li>
        <li>
            <input th:field="*{notChecked}" id="not_check" type="checkbox"/>
            <label for="not_check">NOT CHECKED</label>
        </li>
    </ul>
    <input class="button-filter" type="submit" th:value="#{apply}">
</form>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th th:text="#{claims.id}"></th>
        <th th:text="#{claims.client}"></th>
        <th th:text="#{claims.inspector}"></th>
        <th th:text="#{claims.reason}"></th>
        <th th:text="#{claims.status}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="claim, iStat : ${claims}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${claim.id}"></td>
        <td th:text="${claim.clientId}"></td>
        <td th:text="${claim.inspectorId}"></td>
        <td th:text="${claim.reason}"></td>
        <td th:text="${claim.status}">

        </td>
        <td>
            <a th:href="@{/reject-claim/{id}(id=${claim.id})}"
               th:text="${claim.status==T(ua.polina.claim.Status).NOT_CHECKED} ? 'Reject':' '"></a>
        </td>
        <td>
            <a th:href="@{/accept-claim/{id}(id=${claim.id})}"
               th:text="${claim.status==T(ua.polina.claim.Status).NOT_CHECKED} ? 'Accept':' '">Accept</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>