<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Legal entities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="app-style.css">
</head>
<body>
<div class="lang">
    <a href="/" th:text="#{header.home}"></a>
</div>
<div class="header-container">
    <h2 th:text="#{my.legals}">Legals</h2>
</div>
<div class="lang">
    <th:block th:insert="fragments/language :: language"/>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th th:text="#{legals.id}"></th>
        <th th:text="#{legals.name}"></th>
        <th th:text="#{placeholder.mfo}"></th>
        <th th:text="#{placeholder.edrpou}"></th>
        <th th:text="#{placeholder.address}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l, iStat : ${legals}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${l.id}"></td>
        <td th:text="${l.name}"></td>
        <td th:text="${l.mfo}"></td>
        <td th:text="${l.edrpou}"></td>
        <td th:text="${l.address}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>