<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Individuals</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="app-style.css">
</head>
<body>
<div class="lang">
    <a href="/" th:text="#{header.home}"></a>
</div>
<div class="header-container">
    <h2 th:text="#{individuals}">Individuals</h2>
</div>
<div class="lang">
    <th:block th:insert="fragments/language :: language"/>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th th:text="#{individuals.id}"></th>
        <th th:text="#{individuals.surname}"></th>
        <th th:text="#{individuals.first.name}"></th>
        <th th:text="#{individuals.second.name}"></th>
        <th th:text="#{individuals.passport}"></th>
        <th th:text="#{individuals.ident.code}"></th>
        <th th:text="#{individuals.address}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="individual, iStat : ${individuals}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${individual.id}"></td>
        <td th:text="${individual.firstName}"></td>
        <td th:text="${individual.middleName}"></td>
        <td th:text="${individual.lastName}"></td>
        <td th:text="${individual.passport}"></td>
        <td th:text="${individual.identCode}"></td>
        <td th:text="${individual.address}"></td>
        <td><a th:href="@{/delete-individual/{id}(id=${individual.id})}">Delete</a></td>
        <td><a th:href="@{/edit-individual/{id}(id=${individual.id})}">Edit</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>