<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Renouncement</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="app-style.css">
</head>
<body>
<th:block th:insert="fragments/language :: language"/>
<h2 th:text="#{reports}">Reports</h2>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th th:text="#{renouncements.id}"></th>
        <th th:text="#{reports.id}"></th>
        <th th:text="#{renouncements.reason}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ren, iStat : ${renouncements}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${ren.id}"></td>
        <td th:text="${ren.reportId}"></td>
        <td th:text="${ren.reason}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>