<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="app-style.css">
</head>
<body class="text-center" data-gr-c-s-loaded="true">
<div class="lang">
    <a href="/" th:text="#{header.home}"></a>
</div>
<div class="container">
    <div class="name">
        <th:block th:insert="fragments/language :: language"/>
    </div>
        <form class="form-signin" th:action="@{/register-legal-entity}" th:object="${sign}" method="post">
            <h3 class="h3 font-weight-normal name" th:text="#{registration.form}">Registration form</h3>
            <div th:if="${error!=null}">
                <p th:text="${error}">...</p>
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            <div>
                <input  class="form-control" type="text" th:placeholder="#{placeholder.email}" required="" id="email" th:field="*{email}"/>
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
            <div>
                <input  class="form-control" type="password" th:placeholder="#{placeholder.password}" required="" id="password" th:field="*{password}" />
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <div>
                <input  class="form-control" type="text" th:placeholder="#{placeholder.name}" required="" id="name" th:field="*{name}"/>
            </div>
            <div th:if="${#fields.hasErrors('edrpou')}" th:errors="*{edrpou}">Edrpou Error</div>
            <div>
                <input  class="form-control" type="text" th:placeholder="#{placeholder.edrpou}" required="" id="edrpou" th:field="*{edrpou}" />
            </div>
            <div th:if="${#fields.hasErrors('mfo')}" th:errors="*{mfo}">Mfo Error</div>
            <div>
                <input type="text" th:placeholder="#{placeholder.mfo}" required="" id="mfo" th:field="*{mfo}" />
            </div>
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
            <div>
                <input  class="form-control" type="text" th:placeholder="#{placeholder.address}" required="" id="address" th:field="*{address}"/>
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" th:value="#{sign.up}">Sign in</button>
                <a th:href="@{/login}">Log in</a>
            </div>
        </form>
</div>

</body>
</html>