<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="app-style.css">
</head>
<body>
<div class="lang">
    <a href="/" th:text="#{header.home}"></a>
</div>

<div class="container">
    <div class="name">
        <th:block th:insert="fragments/language :: language"/>
    </div>
    <form th:action="@{/save-inspector}" th:object="${signInspector}" method="post">
        <h1 th:text="#{registration.form}">Registration form</h1>
        <div th:if="${error != null}">
            <p th:text="${error}">...</p>
        </div>
        <div th:if="${error2 != null}">
            <p th:text="${error2}">...</p>
        </div>
        <div th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Email Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.email}" required="" id="email"
                   th:field="*{userEmail}"/>
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <div>
            <input class="form-control" type="password" th:placeholder="#{placeholder.password}" required=""
                   id="password" th:field="*{password}"/>
        </div>
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.surname}" required="" id="surname"
                   th:field="*{surname}"/>
        </div>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.first.name}" required=""
                   id="firstName" th:field="*{firstName}"/>
        </div>
        <div th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}">Second name Error</div>
        <div>
            <input class="form-control" type="text" th:placeholder="#{placeholder.second.name}" required=""
                   id="secondName" th:field="*{secondName}"/>
        </div>
        <div th:if="${#fields.hasErrors('employmentDate')}" th:errors="*{employmentDate}">Employment date Error</div>
        <div>
            <input class="form-control" type="date" th:placeholder="#{placeholder.employment.date}" required=""
                   id="employmentDate" th:field="*{employmentDate}"/>
        </div>
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:value="#{sign.up}">Sign up</button>
        </div>
    </form>
</div>
</body>
</html>